<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink=''>echarts-ng2</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a routerLink=''>演示(Domo)</a></li>
                <li><a routerLink="./documentation">文档(Documentation)</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h1>echarts-ng2</h1>
        <p>Angular2 ECharts组件(Angular2 ECharts component)</p>
        <p><a class="btn btn-primary btn-lg" href="https://github.com/twp0217/echarts-ng2" target="_blank">View on GitHub</a></p>
    </div>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>